body{
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #414141;
}
.row{
  margin-top: 30px;
}
#header {
  position: relative;
  height: 600px;
}
#heading {
  position: absolute;
  background: url('https://a0.muscache.com/airbnb/static/landing_pages/pretzel/slideshow/hero6-1b571925beb84a386bd4873a41992f21.jpg') center center;

  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  height: 600px;
  width: 100%;
}

#heading_bottom, #header-search-form {
  position: absolute;
  z-index: 999999;
  height: 100px;
  background: #000;
  width: 100%;
  color: #fff;
  top: 500px;
  padding: 20px;
  opacity: 0.3;
  filter: alpha(opacity=30)
}

#header-search-form {
  opacity: 1;
  filter: alpha(opacity=100);
  background: none;
  text-align: center;
  padding-top: 30px;
}

.search_input{
  border: 1px solid #414141;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding-left: 10px;
    width: 317px !important;
    height: 40px;
    margin-left: -5px;
}

.yourlocation{
  position: absolute;
  top:40px;
  margin-left: 130px;
  color: #414141;
  cursor: pointer;
}

.yourlocation:hover {
  color: #ccc;
}

.search_button {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 38px;
    margin-left: -5px
}

#main-nav{
  background: none;
  border: none;
  z-index: 99999999;
}
#main-nav a{
  color: #fff;
  text-shadow: none;
  font-family:  Open Sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.subject-list{

}

.item{
  position: relative;
}
.item img{
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}
.item h2 {
  position: absolute;
  bottom: 25px;
  left:20px;
  color: #fff;
}

#footer{
  background: #2B2D2E;
  padding:50px;
  text-align: center;
  color: #fff;
}