<div id="header">
  <nav id="main-nav" class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">5Teacher</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a class="page-scroll" href="#contact">Find Lessons</a>
          </li>
          <li>
            <a class="page-scroll" href="#/students.html">Students</a>
          </li>
          <li>
            <a class="page-scroll" href="#/teachers.html">Teachers</a>
          </li>
          <li>
            <a class="page-scroll" href="#/howitworks.html">How it works</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#/auth/signup">Sign Up</a>
          </li>
          <li>
            <a class="page-scroll" href="#/auth/signin">Sign In</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div id="heading"></div>
  <div id="heading_bottom"></div>
  <div id="header-search-form">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="Enter your subject">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Address">
      </div>
      <button type="submit" class="btn btn-default">Search for your Teacher</button>
    </form>
  </div>
</div>