<div class="Result Provider358 Clearfix"><a href="/profile/michael-douglas-j" data-acct-id="358"
                                            data-search-rank="2" data-distance="">
    <div class="Left">
        <div class="Hover"><span class=" Fontello-eye Icon"></span> View Profile</div>
        <img class="ProfileImage"
             src="https://tl-cdn.s3.amazonaws.com/images/public/landing/popularServices/tutoring/algebra.jpg"></div>
    <div class="Right">
        <div class="Top">
            <div class="Starting"> STARTING AT</div>
            <div class="Pricing"><span class="Price">             $45           </span> <span
                    class="Duration">             / 30-min           </span></div>
        </div>
        <div class="Bottom" style="display: block;">
            <div class="RatingContainer">
                <div class="Rating">
                    <div class="Stars"><span class=" Fontello-star Icon"></span><span
                            class=" Fontello-star Icon"></span><span class=" Fontello-star Icon"></span><span
                            class=" Fontello-star Icon"></span><span class=" Fontello-star Icon"></span>

                        <div class="Full" style="width: 100%"><span
                                class=" Fontello-star Icon"></span><span
                                class=" Fontello-star Icon"></span><span
                                class=" Fontello-star Icon"></span><span
                                class=" Fontello-star Icon"></span><span
                                class=" Fontello-star Icon"></span></div>
                    </div>
                    <span class="Caption">(13)</span></div>
            </div>
        </div>
    </div>
    <div class="Center">
        <div class="Top"><span class="Name">           Michael Douglas J.         </span> <span
                class="Badges">                        <span class="BgCheckBadge Fontello-award">             <div
                class="SimpleTooltip">
            <div class="Border">
                <div class="CaretWrap FlippedCaretWrap">
                    <div class="Caret FlippedCaret"></div>
                </div>
                <div data-tooltip-trigger="hover" class=" TooltipContent"><strong>Background
                    Check<br></strong>Last verified 07/29/2015
                </div>
                <div class="CaretWrap">
                    <div class="Caret"></div>
                </div>
            </div>
        </div>            </span>                        <span class="FavoriteBadge Fontello-heart">             <div
                class="SimpleTooltip">
            <div class="Border">
                <div class="CaretWrap FlippedCaretWrap">
                    <div class="Caret FlippedCaret"></div>
                </div>
                <div data-tooltip-trigger="hover" class=" TooltipContent"><strong>Student
                    Favorite<br></strong>One of our most popular singing teachers
                </div>
                <div class="CaretWrap">
                    <div class="Caret"></div>
                </div>
            </div>
        </div>            </span>                    </span></div>
        <div class="Middle"><span class="City">           <span class=" Fontello-location Icon"></span>          Patchogue, NY         </span>
        </div>
        <div class="Bottom"><span class="Services" title="Singing, Broadway Singing">           <b>Singing</b> · Broadway Singing         </span>
            <span class="Description">             : I endeavor to teach you a natural and easy vocal production; to teach you a good solid technique of singing and to help you develop confidence and a  ...            </span>
        </div>
    </div>
</a></div>